<div class="container">
    <div class="row col-12">
    <div class="col-xl-3" style="margin-top: 2%;">
      <div class="" style="margin-left: 2%; margin-top: 3%">
        <p style="font-size: 16px">
          Home <img src="assets/media/avatars/flech.svg" alt="" /> Tunisia
          <img src="assets/media/avatars/flech.svg" alt="" /> Nabeul
          <img src="assets/media/avatars/flech.svg" alt="" /> Hammamat
        </p>
      </div>
  
      <div class="" style="margin-top: 1%; margin-left: 2%">
        <div class="card" style="width: 27rem">
          <img
            src="assets/media/avatars/map.png"
            class="card-img-top"
            alt="..."
            style="height: 20rem"
          />
          <div class="card-body">
            <p class="card-text" style="font-size: 18px; font-weight: 500">
              Filter by :
            </p>
          </div>
        </div>
   
        <div class="row">
          <div class="col-sm-3 mb-3 mb-sm-0">
            <div class="card" style="width: 27rem">
              <div class="card-body">
                <h5 class="card-title" style="font-size: 20px">
                  You Previous filters
                </h5>
                <br />
                <div class="card-text">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault" style="font-size: 14px;">
                     Long Stay
                    </label>
                  </div>
                </div>
               <br>
                <div class="card-text">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="">
                    <label class="form-check-label" for="flexCheckDefault" style="font-size: 14px;">
                      2 Bedrooms
                    </label>
                  </div>
                </div>
             <br>
                <div class="card-text">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="">
                    <label class="form-check-label" for="flexCheckDefault" style="font-size: 14px;" >
                       Next to Beach
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
       
          <div class="row">
            <div class="col-sm-3 mb-3 mb-sm-0">
              <div class="card" style="width: 27rem">
                <div class="card-body">
                  <h5 class="card-title" style="font-size: 20px">
                    Your budget (per night)
                  </h5>
                  <br />
                  <p class="card-text" style="font-size: 13px">
                    From TND 20 To TND 800 +
                  </p>
                  <img
                    src="assets/media/avatars/back.png"
                    alt=""
                    style="width: 20rem"
                  />
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-sm-3 mb-3 mb-sm-0">
            <div class="card" style="width: 27rem">
              <div class="card-body">
                <h5 class="card-title" style="font-size: 20px">Stay Type</h5>
                <br />
                <div class="card-text">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="">
                    <label class="form-check-label" for="flexCheckDefault" style="font-size: 14px;">
                      Long Stay
                    </label>
                  </div>
                </div>
                <br>
                <div class="card-text">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="">
                    <label class="form-check-label" for="flexCheckDefault" style="font-size: 14px;">
                      Short Stay
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3 mb-3 mb-sm-0">
              <div class="card" style="width: 27rem">
                <div class="card-body">
                  <h5 class="card-title" style="font-size: 20px">
                    Property Type
                  </h5>
                  <br />
                  <div class="card-text">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="">
                      <label class="form-check-label" for="flexCheckDefault" style="font-size: 14px;">
                        House
                      </label>
                    </div>
                  </div>
                    <br>
                  <div class="card-text">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="">
                      <label class="form-check-label" for="flexCheckDefault" style="font-size: 14px;">
                        Villa
                      </label>
                    </div>
                  </div>
                <br>
                  <div class="card-text">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="">
                      <label class="form-check-label" for="flexCheckDefault" style="font-size: 14px;">
                        Appartment
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-sm-3 mb-3 mb-sm-0">
              <div class="card" style="width: 27rem">
                <div class="card-body">
                  <h5 class="card-title" style="font-size: 20px">
                    Nbr. of Bedrooms
                  </h5>
                  <br />
                  <p class="card-text">
                    <span style="font-size: 15px">Bedrooms</span>
                    <img
                      src="assets/media/avatars/neg.svg"
                      alt="Description de l'image"
                      style="width: 40px; margin-left: 26%"
                    />
                    0
                    <img
                      src="assets/media/avatars/plus.svg"
                      alt=""
                      style="width: 40px"
                    />
                  </p>
                </div>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-sm-3 mb-3 mb-sm-0">
              <div class="card" style="width: 27rem">
                <div class="card-body">
                  <h5 class="card-title" style="font-size: 20px">
                    Nbr. of Bathooms
                  </h5>
                  <br />
                  <p class="card-text">
                    <span style="font-size: 15px">Bathrooms</span>
                    <img
                      src="assets/media/avatars/neg.svg"
                      alt="Description de l'image"
                      style="width: 40px; margin-left: 26%"
                    />
                    0
                    <img
                      src="assets/media/avatars/plus.svg"
                      alt=""
                      style="width: 40px"
                    />
                  </p>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-sm-3 mb-3 mb-sm-0">
            <div class="card" style="width: 27rem">
              <div class="card-body">
                <h5 class="card-title" style="font-size: 20px">Next to</h5>
                <br />
                <div class="card-text">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="">
                    <label class="form-check-label" for="flexCheckDefault" style="font-size: 14px;">
                      City
                    </label>
                  </div>
                </div>
    <br>
                 <div class="card-text">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="">
                    <label class="form-check-label" for="flexCheckDefault" style="font-size: 14px;">
                      Beach
                    </label>
                  </div>
                </div>
             <br>
             <div class="card-text">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="">
                <label class="form-check-label" for="flexCheckDefault" style="font-size: 14px;">
                  Spa
                </label>
              </div>
            </div>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-sm-3 mb-3 mb-sm-0">
              <div class="card" style="width: 27rem">
                <div class="card-body">
                  <h5 class="card-title" style="font-size: 20px">Amenities</h5>
                  <br />
                  <div class="card-text">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="">
                      <label class="form-check-label" for="flexCheckDefault" style="font-size: 14px;">
                        Wifi
                      </label>
                    </div>
                  </div>
                <br>
                <div class="card-text">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="">
                    <label class="form-check-label" for="flexCheckDefault" style="font-size: 14px;">
                      Parking
                    </label>
                  </div>
                </div>
                <br>
                <div class="card-text">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="">
                    <label class="form-check-label" for="flexCheckDefault" style="font-size: 14px;">
                      Air Conditioner
                    </label>
                  </div>
                </div>
              <br>
                <div class="card-text">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="">
                    <label class="form-check-label" for="flexCheckDefault" style="font-size: 14px;">
                      Bathtub
                    </label>
                  </div>
                </div>
                <br>
                <div class="card-text">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="">
                    <label class="form-check-label" for="flexCheckDefault" style="font-size: 14px;">
                      Coffe Machine
                    </label>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-sm-3 mb-3 mb-sm-0">
              <div class="card" style="width: 27rem">
                <div class="card-body">
                  <h5 class="card-title" style="font-size: 20px">Rating</h5>
                  <br />
                  <div class="card-text">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="">
                      <label class="form-check-label" for="flexCheckDefault" style="font-size: 14px;">
                        Fabilous: 9+
                      </label>
                    </div>
                  </div>
                 <br>
                 <div class="card-text">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="">
                    <label class="form-check-label" for="flexCheckDefault" style="font-size: 14px;">
                      Very Good: 8+
                    </label>
                  </div>
                </div>
                <br>
                <div class="card-text">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="">
                    <label class="form-check-label" for="flexCheckDefault" style="font-size: 14px;">
                      Good: 7+
                    </label>
                  </div>
                </div>
               <br>
               <div class="card-text">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="flexCheckDefault" style="font-size: 14px;">
                   Pleasant: 6+
                  </label>
                </div>
              </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-xl-9" style="margin-top: 5%;">
      
     <p style="font-size: 22px; font-weight: 500;">Hammamat : <span style="font-size: 21px; font-weight: 800;">20 Property found</span> </p>
    <br>
     <div class="chip">
       2 bedrooms
      <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
      </div>
  
      <div class="chip">
        Next to Beach
       <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
       </div>
  
       <div class="chip">
        villa
       <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
       </div>
  
       <div class="d-flex" style="margin-top: 6%;">
        <div class="card mb-3" style="width: 1600px; height: 450px; border-radius: 25px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="assets/media/avatars/b1.jpg" class="img-fluid rounded-start" alt="..." style="width: 400px; height: 410px; margin-left: 4%; margin-top: 3.5%; border-radius: 5%;">
            </div>
            <div class="col-md-8">
              <div class="card-body" style="margin-top: 2%; margin-left: 2%;">
                <h3 class="card-title" style="font-size: 23px; font-weight: bold;">Pupput House</h3> <br>
                <p style="position: absolute; top: 40px; right: 25px; font-size: 18px; font-weight: 400;">
                  <img src="assets/media/avatars/etoil.svg" alt="Icône" style="width: 20px; height: 20px; margin-right: 5px;">
                  8.55
                </p>
                <p class="card-text" style="font-size: 17px;"><span style="font-size: 18px; font-weight: 500;"> Hammamat Medina,</span> Hammamat, Dec Tower 2, <br> Appartment 1705,Nabeul, Tinisie</p> <br>
                <p class="card-text" style="font-size: 16px;">Lorem Ipsum is simply dummy text of the printing and typesetting <br>industry.Lorem Ipsum has been the industry's standard dummy text</p> <br>
                <p class="card-text" style="font-size: 17px; font-weight: bold;">2 Bedrooms</p>
                <p class="card-text" style="font-size: 17px; font-weight: bold;">Next to Beach</p>
               
                <p class="card-text" style="text-align: end; font-weight: bold; font-size: 16px; margin-right: 1%; margin-bottom: 3%;"><span style="font-size: 20px; color:#EF4064; font-weight: 900;">40.5 $</span>  / per Night</p> <br>
                <div style="text-align: end; margin-bottom: 16px;">
                  <a id="" routerLink="/description" style="background-color: #EF4064; width: 100px; color: white; font-weight: 400; font-size: 130%; border-radius: 10px; padding-inline: 5%; padding-top: 1%; padding-bottom: 1%; cursor: pointer;">
                    <span style="font-size: 17px; font-weight: bold;">View</span>
                  </a>
                </div>
                
              
              </div>
            </div>
          </div>
        </div>
  
  
  
       </div>
     
  
  
       <div class="d-flex" style="margin-top: 3%;">
        <div class="card mb-3" style="width: 1600px; height: 450px; border-radius: 25px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="assets/media/avatars/sall.png" class="img-fluid rounded-start" alt="..." style="width: 400px; height: 410px; margin-left: 4%; margin-top: 3.5%; border-radius: 5%;">
            </div>
            <div class="col-md-8">
              <div class="card-body" style="margin-top: 2%; margin-left: 2%;">
                <h3 class="card-title" style="font-size: 23px; font-weight: bold;">Pupput House </h3> <br>
                <p style="position: absolute; top: 40px; right: 25px; font-size: 18px; font-weight: 400;">
                  <img src="assets/media/avatars/etoil.svg" alt="Icône" style="width: 20px; height: 20px; margin-right: 5px;">
                  8.55
                </p>
  
                <p class="card-text" style="font-size: 17px;"><span style="font-size: 18px; font-weight: 500;"> Hammamat Medina,</span> Hammamat, Dec Tower 2, <br> Appartment 1705,Nabeul, Tinisie</p> <br>
                <p class="card-text" style="font-size: 16px;">Lorem Ipsum is simply dummy text of the printing and typesetting <br>industry.Lorem Ipsum has been the industry's standard dummy text</p> <br>
                <p class="card-text" style="font-size: 17px; font-weight: bold;">2 Bedrooms</p>
                <p class="card-text" style="font-size: 17px; font-weight: bold;">Next to Beach</p>
               
                <p class="card-text" style="text-align: end; font-weight: bold; font-size: 16px; margin-right: 1%; margin-bottom: 3%;"><span style="font-size: 20px; color:#EF4064; font-weight: 900;">40.5 $</span>  / per Night</p> <br>
                <div style="text-align: end; margin-bottom: 16px; ">
                  <a id="" routerLink="/hh" style="background-color: #EF4064; width: 100px; color: white; font-weight: 400; font-size: 130%; border-radius: 10px; padding-inline: 5%; padding-top: 1%; padding-bottom: 1%; cursor: pointer;">
                    <span style="font-size: 17px; font-weight: bold;">View</span>
                  </a>
                </div>
              
              </div>
            </div>
          </div>
        </div>
  
  
  
       </div>
  
  
  
       
       <div class="d-flex" style="margin-top: 3%;">
        <div class="card mb-3" style="width: 1600px; height: 450px; border-radius: 25px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="assets/media/avatars/b3.jpg" class="img-fluid rounded-start" alt="..." style="width: 400px; height: 410px; margin-left: 4%; margin-top: 3.5%; border-radius: 5%;">
            </div>
            <div class="col-md-8">
              <div class="card-body" style="margin-top: 2%; margin-left: 2%;">
                <h3 class="card-title" style="font-size: 23px; font-weight: bold;">Pupput House</h3> <br>
                <p style="position: absolute; top: 40px; right: 25px; font-size: 18px; font-weight: 400;">
                  <img src="assets/media/avatars/etoil.svg" alt="Icône" style="width: 20px; height: 20px; margin-right: 5px;">
                  8.55
                </p>
                <p class="card-text" style="font-size: 17px;"><span style="font-size: 18px; font-weight: 500;"> Hammamat Medina,</span> Hammamat, Dec Tower 2, <br> Appartment 1705,Nabeul, Tinisie</p> <br>
                <p class="card-text" style="font-size: 16px;">Lorem Ipsum is simply dummy text of the printing and typesetting <br>industry.Lorem Ipsum has been the industry's standard dummy text</p> <br>
                <p class="card-text" style="font-size: 17px; font-weight: bold;">2 Bedrooms</p>
                <p class="card-text" style="font-size: 17px; font-weight: bold;">Next to Beach</p>
               
                <p class="card-text" style="text-align: end; font-weight: bold; font-size: 16px; margin-right: 1%; margin-bottom: 3%;"><span style="font-size: 20px; color:#EF4064; font-weight: 900;">40.5 $</span>  / per Night</p> <br>
                <div style="text-align: end; margin-bottom: 16px; ">
                  <a id="" routerLink="/hh" style="background-color: #EF4064; width: 100px; color: white; font-weight: 400; font-size: 130%; border-radius: 10px; padding-inline: 5%; padding-top: 1%; padding-bottom: 1%; cursor: pointer;">
                    <span style="font-size: 17px; font-weight: bold;">View</span>
                  </a>
                </div>
              
              </div>
            </div>
          </div>
        </div>
  
  
  
       </div>
  
     </div>
    </div>
   </div>
  
  