




.form-control{

    width: 730px;
    height: 70px;
    background-color: #F5F5F5;
    border-radius: 15px;
   
}

// .content{

//     display: none;
// }

// #check{
//     display: none;
// }

// label{
//     display: inline-block;
//     margin-top: 15px;
//     text-decoration: underline;
//     cursor: pointer;
//     font-weight: 600;
//     font-size: 20px ;
//     margin-left: 70%;
// }

// #check:checked ~ .content{
//     display: block;
// }

.limitTextHeight {
    height: 20px;
    overflow: hidden;
  }



  