
<div class="d-flex justify-content">
  <div class="d-flex" style="margin-left: 1%; margin-top: 1%;">
    <img routerLink="/dashboard" src="assets/media/avatars/logo1.png" alt="" style="height: 60px;">
  
    </div>
 
 
  <div class="d-flex justify-content-between" style="margin-top: 0.5%;">
   
    <div class="input-group">
      <form [formGroup]="searchForm">
      <div class="d-flex align-items-center">
        <!-- Destination Select -->
        <div class="position-relative">
          <select class="form-select" formControlName="area" aria-label="Default select example">
           
            <option *ngFor="let emirateArea of emirateAreas" [value]="emirateArea">
              {{ emirateArea }}
            </option>
          </select>
          <span style="position: absolute; top: 50%; left: 5px; transform: translateY(-50%);">
            <!-- Add an icon or arrow here if needed -->
          </span>
        </div>
    
        <!-- Date Range Picker -->
        <div class="form-group">
          <label for="datefrom">From Date:</label>
          <input type="date" id="datefrom" formControlName="datefrom" class="form-control">
        </div>
      
        <div class="form-group">
          <label for="dateto">To Date:</label>
          <input type="date" id="dateto" formControlName="dateto" class="form-control">
        </div>

        <div class="position-relative">
          <input type="number" class="form-control" formControlName="nb_adult" placeholder="Guests" aria-label="Guests">
          <span style="position: absolute; top: 50%; left: 5px; transform: translateY(-50%);">
          </span>
        </div>
        
        
    
        <!-- Search Button -->
  
     
        <div class="ms-2" (click)="  saveCall()">
          <div style="background-color: #EF4064; border-radius: 15px; width: 50px; height: 50px; display: flex; justify-content: center; align-items: center; box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); cursor: pointer;">
            <img src="assets/media/avatars/scope.png" style="width: 40px; height: 40px;">
          </div>
          
        </div>
      </div>
    </form>
    </div>
    
 
 
 
 
 <div class="d-flex" style="margin-left: 530px; margin-top: 1.5%; width: 500px;">
 
 
   <div class="menu-item me-lg-3" style="margin-right: 10px;">
     <a class="menu-link py-3" routerLinkActive="active" href="file:///C:/Users/HP/Desktop/src/refferal/host.html">
       <span class="menu-title" style="font-weight: 600; font-size: 16px;">Rent Your Property</span>
     </a>
   </div>
   
 
   <div class="menu-item menu-lg-down-accordion me-lg-1" style="margin-right: 10px;">
     <span class="menu-link py-3" >
       <span class="menu-title" style="font-weight: 600; font-size: 16px;">About Us</span>
       <span class="menu-arrow d-lg-none"></span>
     </span>
 
   </div>
 
   <div class="menu-item menu-lg-down-accordion me-lg-1" style="margin-right: 10px;">
     <span class="menu-link py-3" [ngClass]="calculateMenuItemCssClass('/apps')">
       <img src="./assets/media/avatars/eng.svg" alt="Icon" class="icon-before-title">
       <span class="menu-title" style="font-weight: 600; font-size: 16px;">ENG</span>
       <span class="menu-arrow d-lg-none"></span>
     </span>
     <div
       class="
         menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0
         py-lg-4
         w-lg-225px
       "
       data-kt-menu-dismiss="true"
     >
 
     </div>
   </div>
 
 
 
 
   
   
 </div>
 </div>
 
 
 
 